# ==========================================
# PDF Processing
# ==========================================
PyMuPDF>=1.26.0
mineru[all]==3.4.0

# ==========================================
# LLM / Ollama
# ==========================================
ollama>=0.4.0
openai>=1.90.0

# ==========================================
# Embeddings
# ==========================================
sentence-transformers>=3.0.0
transformers>=4.50.0
torch>=2.7.0
accelerate>=1.0.0
safetensors>=0.5.0
chonkie[all]==1.6.8
model2vec[all]==0.8.2
sentence-transformers==5.2.0
huggingface-hub==0.33.4
bm25s>=0.2.0
# ==========================================
# Vector Database
# ==========================================
qdrant-client>=1.12.0
faiss-cpu>=1.11.0

# ==========================================
# LangChain
# ==========================================
langchain>=0.3.0
langchain-community>=0.3.0
langchain-core>=0.3.0
langchain-text-splitters>=0.3.0
langchain-experimental>=0.3.0
langchain-huggingface>=0.1.0

# ==========================================
# LlamaIndex
# ==========================================
chonkie==1.6.8
llama-index-core==0.14.23
llama-index-embeddings-huggingface==0.7.0
# ==========================================
# Data Processing
# ==========================================
numpy>=1.26,<2.3
pandas>=2.2.0
scikit-learn>=1.6.0

# ==========================================
# Utils
# ==========================================
tqdm>=4.67.0
python-dotenv>=1.1.0
pydantic>=2.11.0
pymorphy3==2.0.6
nltk==3.10.0
# ==========================================
# Evaluation
# ==========================================
rapidfuzz>=3.0.0
ragas>=0.2.0

# ==========================================
# Visualization
# ==========================================
matplotlib>=3.10.0
